:root {
    /* COLORS */
    --background: #0f0f0f;
    --foreground: #dcdcdc;
    --grey: #25262a;
    --accent: #b4f99c;
    --error: #ba332c;

    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: var(--foreground);
    background-color: var(--background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
    position: relative;

    aside {
        flex: 1;
        max-width: 300px;
        border-right: 1px solid var(--grey);
        height: 100vh;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: sticky;
        top: 0;

        .logo {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        nav {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .link {
                display: flex;
                align-items: center;
                gap: 15px;
                text-decoration: none;
                color: var(--foreground);
                padding: 15px;
                border-radius: 10px;

                &:hover,
                &.active {
                    background: var(--grey);
                    color: var(--accent);

                    svg path {
                        fill: var(--accent);
                    }
                }
            }
        }

        button {
            all: unset;
            background: var(--accent);
            color: var(--grey);
            border-radius: 10px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            cursor: pointer;
            gap: 15px;
            font-weight: 600;

            &:disabled {
                background: var(--grey);
                color: #dcdcdc25;

                path {
                    fill: var(--foreground);
                    opacity: 0.25;
                }
            }
        }
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        row-gap: 15px;
        flex: 1;
        padding: 30px;

        .chargement {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;

            p {
                font-size: 24px;
                font-weight: 600;
                color: var(--accent);
            }

            .loader {
                width: 50px;
                aspect-ratio: 1;
                display: grid;
            }
            .loader:before,
            .loader:after {
                content: "";
                grid-area: 1/1;
                margin: 0 0 15px 15px;
                --c: #0000 calc(100% / 3), var(--accent) 0 calc(2 * 100% / 3),
                    #0000 0;
                --c1: linear-gradient(90deg, var(--c));
                --c2: linear-gradient(0deg, var(--c));
                background: var(--c1), var(--c2), var(--c1), var(--c2);
                background-size: 300% 4px, 4px 300%;
                background-repeat: no-repeat;
                animation: l12 1s infinite linear;
            }
            .loader:after {
                margin: 15px 15px 0 0;
                transform: scale(-1, -1);
            }
        }

        .contribute {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            gap: 60px;

            h1 {
                font-weight: 600;
                font-size: 60px;
                text-transform: uppercase;

                span {
                    color: var(--accent);
                }
            }

            .links {
                display: flex;
                align-items: center;
                gap: 30px;

                a {
                    padding: 15px 30px;
                    color: inherit;
                    text-decoration: none;
                    font-size: 18px;
                    border-radius: 10px;

                    &:nth-child(1) {
                        background: var(--accent);
                        color: var(--grey);
                    }

                    &:nth-child(2) {
                        background: var(--grey);
                        color: var(--foreground);
                    }

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}

@keyframes l12 {
    0% {
        background-position: 50% 0, 100% 100%, 0 100%, 0 0;
    }
    25% {
        background-position: 0 0, 100% 50%, 0 100%, 0 0;
    }
    50% {
        background-position: 0 0, 100% 0, 50% 100%, 0 0;
    }
    75% {
        background-position: 0 0, 100% 0, 100% 100%, 0 50%;
    }
    75.01% {
        background-position: 100% 0, 100% 0, 100% 100%, 0 50%;
    }
    100% {
        background-position: 50% 0, 100% 0, 100% 100%, 0 100%;
    }
}
